body {
    background: linear-gradient(#009688 15%, #dbdbd2 15%) !important;
}

.users {
    background-color: #fff;
}

.chat {
    background-color: #e5ddd5;
    flex-grow: 2;
}

.notifications {
    vertical-align: middle;
}

.notifications .top {
    background-color: #8edafc;
}

.fa-bell-slash {
    color: #8edafc;
}

.bg-chat {
    background-image: url('./img/mine.jpg');
    background-size: 300px;
    background-position: center;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received {
    background-color: #fff;
    align-self: flex-start;
}

/* add class ============================================================== */

.no-focus-visible {
    outline: none;
}

.hover_bg {
    transition: background-color 0.1s ease-in-out;
}

.hover_bg:hover {
    background-color: #e9ebeb;
}

.hover {
    filter: brightness(0.5);
}

.hover:hover {
    filter: brightness(0.5);
}

.hover-white:hover {
    color: #fff !important;
}

.no-border {
    border: none;
}

.c-pointer {
    cursor: pointer;
}

.h_100 {
    height: 100vh;
}

.fs-7 {
    font-size: 0.7rem;
}

.fs-8 {
    font-size: 0.6rem;
}

.fs-9 {
    font-size: 0.5rem;
}

.square {
    aspect-ratio: 1 !important;
}

.color-gray {
    color: #a7a7a7;
}

.my-bg-white {
    background-color: #fafafa;
}

.width-search {
    min-width: 50px;
}

.my-w-150 {
    min-width: 150px;
}

.img_height {
    height: 40px;
}

.right-0 {
    right: 0%;
}

.flex-grow-2 {
    flex-grow: 4;
}

.bg-gray {
    background-color: #eaeaea;
}

.max-width {
    max-width: 250px;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.line-height-75 {
    line-height: 0.75rem;
}

.z-index-1 {
    z-index: 1;
}

.resize-none {
    resize: none;
}

.white-space {
    white-space: pre-wrap
}

.bg-yellow {
    background-color: #fff5c0;
}

.bg-day {
    background-color: #d3e0fe;
}
